
spring:
    application:
        name: skyhotel-service

    cloud:
        config:
            uri: http://192.168.2.4:8888
    service:
        hotel:
          url: http://127.0.0.1:9003
          version: /v1.0.0

native-query:
    package-scan: com.skybooking.skyhotelservice