spring:
    application:
        name: skyflight-service

    cloud:
        config:
            uri: http://192.168.2.4:8888

    service:
        distributed:
            uri: http://192.168.2.4:8001
            user: PaThFinDer01
            secret: admin12345
            version: v1.0.0

        stakeholder:
            uri: http://192.168.2.4:7000/stakeholder/
            version: wv1.0.0
            common-version: v1.0.0
            path: /

        skyhistory:
            uri: http://192.168.2.4:7000/skyhistory/
            version: wv1.0.0

    aws:
        storage:
            logo:
                airline: https://skybooking.s3.us-east-1.amazonaws.com/uploads/airlines/airline_logos

    activemq:
        in-memory: false
        pool.enabled: false
        broker-url: tcp://192.168.1.126:61616

    redis:
        host: 3.229.56.17
        port: 6379
        password:

    awsImage:
            url: s3.amazonaws.com
            region: us-east-1
            bucket: skybooking
            pdfUrl: /uploads/development/booking/
            key: AKIAJEC5JZZKMU7GNCFQ
            secret: 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
            visibility: public

    awsImageUrl:
        mailTemplate: https://${spring.awsImage.bucket}.s3.amazonaws.com/uploads/mail/images/

    email:
        host: mail.smtp2go.com
        username: developer@skybooking.info
        password: bnFnYTRyNG5sOHQw
        port: 587
        driver: smtp
        encryption: tls
        from-address: developer@skybooking.info
        from-name: Skybooking
        properties.mail.smtp:
            auth: true
            starttls.enable: true
            ssl.trust: smtp.gmail.

native-query:
    package-scan: com.skybooking.skyflightservice

hazelcast:
    expire: 1800

job:
    cancel-booking: PT5M