spring:
    application:
        name: event-service

    twilio:
        accountSID: "AC0e8e56c1fbc7a4a39a193811c06af403"
        authToken: "2252fe368a5dd3628996ed3d034860e4"
        phoneNumber: "+18552006055"

        sms:
          url: https://api.mekongsms.com/api/postsms.aspx
          username: pathfinder_otp@mekongnet
          pass: 98b7d5e059b3814ef3bdcfff750061bd
          sender: skybooking
          cd: 203.189.151.167
          isflash: 0
          int: 1

    cloud:
        config:
            uri: http://192.168.2.4:8888
    download:
            url: /home/maru/files/
    email:
        host: mail.smtp2go.com
        username: developer@skybooking.info
        password: bnFnYTRyNG5sOHQw
        port: 587
        driver: smtp
        encryption: tls
        from-address: developer@skybooking.info
        from-name: Skybooking
        properties.mail.smtp:
            auth: true
            starttls.enable: true
            ssl.trust: smtp.gmail.

    awsImage:
        url: s3.amazonaws.com
        region: us-east-1
        bucket: dev-skypoint-v1
        bucketUpload: dev-skypoint-v1
        key: AKIARX6S32NWQ3RHNMPW
        secret: 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
        visibility: public
        skyhotel:
            voucher: /uploads/attachment/voucher/
            receipt: /uploads/attachment/receipt/
        skyPoint:
            topUpUrl: /uploads/topup-receipt/

    awsImageUrl:
        mailTemplate: https://skybooking.s3.amazonaws.com/uploads/mail/images/

    aws:
        url: s3.amazonaws.com
        region: us-east-1
        bucket: dev-skypoint-v1
        bucketUpload: dev-skypoint-v1
        key: AKIARX6S32NWQ3RHNMPW
        secret: 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
        visibility: public

        awsUrl:
            upload: https://${spring.aws.bucket}.s3.amazonaws.com/uploads/

    onesignal:
            apiKey: NDc3M2ViODAtZWJlMy00ZDJiLTk3NmUtMzI2NGJjNDVhODZi
            appId: 75290ec7-3c5a-435d-b1e9-4b13d5e632b5
            url : https://onesignal.com/api/v1/notifications
    #        appId: ed29332e-d5ca-4920-a17b-f502aaed2c98

native-query:
    package-scan: com.skybooking.eventservice
    file:
        sufix: sql